<div style="display: flex; flex-direction: column; align-items: center">
  <h1>hacked display for US data with >=10k population. see PS7 for real</h1>
  <button (click)="getCities()" style="font-size: 2rem">fetch</button>

  <!--data display-->
  <div style="display: flex; flex-direction:row; justify-content: center; align-items: center;">
    <ul>
      <li *ngFor="let city of city_list" style="font-size: 1.6rem; list-style-type: none">
        <label (click)="displayCityDetail(city)">{{city.name}}</label>
      </li>
    </ul>

    <div *ngIf="focused_city" style="font-size: 1.4rem; font-weight: bold">
      {{focused_city.name}}, {{focused_city.country}}, {{focused_city.population}}
    </div>
  </div>

</div>


